[Unit]
Description=drawdb application container

[Container]
ContainerName=drawdb
Image=ghcr.io/drawdb-io/drawdb:latest
AutoUpdate=registry
PublishPort=127.0.0.1:3000:80

[Install]
WantedBy=default.target
